.transfers {
    background-position: center;
    color: rgb(32, 131, 170);
}

/* Header and definition */
.transfers-header {
    width: 70vw;
    min-height: 10vh;
    padding: 25px;
    font-size:25px;
    text-align: left;
    margin: 0 auto;
    max-height: 100vh;
    flex-wrap: wrap;
}
.transfers-header-text {
    color:rgb(94, 94, 94);
    font-size: 20px;
}
.transfers-body {
    margin: 0 auto;
    width: 100vw;
    height: 70vh;
    display: flex;
    background-color: blanchedalmond;
    flex-direction: row;

}

/* columns containers */
.transfers-left-column {
    width: 30vw;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.transfers-mid-column {
    width: 50vw;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.transfers-right-column {
    width: 20vw;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
/* items containers */
.transfers-item {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(225, 225, 225);
    font-size: 20px;
    padding:30px;
    flex-wrap:stretch;
    color:rgb(94, 94, 94);
}

.transfers-item-1 {
    height: 35vh;
}

.transfers-item-2 {
    height: 35vh;
}


