.wallet {
    background-position: center;
    color: rgb(32, 131, 170);
}

/* Header and definition */
.wallet-header {
    width: 70vw;
    min-height: 10vh;
    padding: 25px;
    font-size:25px;
    text-align: left;
    margin: 0 auto;
    max-height: 100vh;
    flex-wrap: wrap;
}
.wallet-body {
    margin: 0 auto;
    width: 100vw;
    height: 70vh;
    display: flex;
    background-color: rgb(225, 225, 225);
    flex-direction: row;

}

.wallet-box-items {
    font-size: 20px;
  color:rgb(94, 94, 94);
}
/* columns containers */
.wallet-left-column {
    width: 30vw;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.wallet-mid-column {
    width: 50vw;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.wallet-right-column {
    width: 20vw;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
/* items containers */
.wallet-item {
    border: 1px solid #333;
    background-color: white;
    font-size: 20px;
    padding:30px;
    flex-wrap:stretch;
}

.wallet-item-1 {
    height: 35vh;
}

.wallet-item-2 {
    height: 35vh;
}
